<div class= "d-flex container col-4">
<form action="answer" data-turbo="false" class="mb-3 form-control">
  <input type="text" name="question" placeholder = "ask your question">
  <input type="submit" value="Ask!" class="btn btn-primary my-3">
</form>
</div>